*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    background-color:black;
    text-align: center;
    color: white;
    padding: 5px;

}
.navitems{
    gap:100px;
    justify-content: space-between;
}
.navbar .navitems a{
   color: rgb(247, 247, 249);
   
   text-decoration: none;
  
   padding: 8px;
   justify-content: space-evenly;
   border: 1px solid white;
    
}
.about{
   text-align: center;
   padding: 5px;
}
 .about img{
    margin-top: 20px;
    border-radius: 50%;
 }
